@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
    position: relative;
}

.root-container {
    width: 100vw;
    max-width: 2000px;
    margin-top: 56px;
    padding: 0px;
    background-image: url(wireframing-and-assets/sumo-bg-3.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    max-width: 2000px;
    background-color: beige;
}

.nav-container {
    margin-left: 150px;
}

.site-header-logo-banner {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    left: 1.25rem;
    width: 130px;
    height: 110px;
    border-bottom-left-radius: 140px 20px;
    border-bottom-right-radius: 140px 20px;
  }

.head-logo {
    width: 160px;
    height: 160px;
}

.feature-row {
    margin-left: 30px;
    margin-right: 30px;
    /* margin-bottom: 30px; */
}

.feature-col {
    padding: 10px;
    padding-top: 20px;
}

.top-card {
    height: 300px;
}

.bi {
    font-size: 4em;
}

.join-row {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: red;
}

.join-card {
    margin-left: 10px;
    margin-right: 10px;
}

.field {
    border: none;
    margin: 5px;
    background-color: red;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.btn {
    margin: 5px;
}

.rank-row {
    padding-top: 25px;
}

.rank-card {
    max-width: 1000px;
}

.news-row {
    margin: 0px;
    padding-bottom: 30px;
    background-color: red;
}

.news-slide {
    border-radius: 60px;
    height: 65vh;
    object-fit: cover;
}

.carousel-caption {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 40px;
    background-color: rgba(81, 81, 81, 0.600);
}

.footer {
    max-width: 1440px;
    max-height: 200px;
    background-color: beige;
}

#f-icons {
    font-size: .5em;
}